/* CSS STYLE*/
body { 
color: blue; 
background-color: yellow; 
} 
td { 
width: 75px; 
height: 75px; 
text-align: center;
} 
.rojo { 
background-color: red; 
color: yellow; 
font-size: x-large; 
text-shadow: 1px 1px blue;
} 
.verde { 
background-color: green; 
color: white; 
font-size: x-large; 
text-shadow: 1px 1px yellow;} 
.azul { 
background-color: blue; 
color: yellow; 
font-size: x-large; 
text-shadow: 1px 1px white;} 
